:root {
  --maximum-yellow-red: hsl(37, 100%, 68%);
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(2, 100%, 69%);
  --french-rose: hsl(342, 90%, 61%);
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);

  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --transition: 0.25s ease-in-out;

}


body {
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    margin: 0 auto;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
  }

html{
  scroll-behavior: smooth;
}

  .NavBar {
    display: inline-block;
    cursor: pointer;
    margin-left: 250px;
    margin-bottom: 100px;
    padding-top: 15px;
    font-family: sans-serif;
    color: rgb(22, 32, 90);
    font-size: 15px;
    font-weight: bold;
  }

  .ButtonTouch {
    margin: 0;
    padding: 20px 45px;
    background-color: rgb(255, 102, 97);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }

  .ButtonTouch:hover {
    opacity: 0.9;
  }

  .Logo {
    margin-left: 350px;
    padding-right: 150px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .ButtonStart {
    margin: 0;
    padding: 15px 30px;
    background-color: rgb(255, 102, 97);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 350px;
    cursor: pointer;
  }

  .ButtonStart:hover {
    opacity: 0.9;
  }

  .TopPageHeader {
    margin-top: 100px;
    margin-left: 350px;
    width: 500px;
    font-size: 60px;
    font-weight: 700;
    color: rgb(0, 6, 41);
    font-family: sans-serif;
  }

  .TopPageParagraph {
    margin-left: 350px;
    width: 480px;
    color: rgb(0, 6, 41);
    font-family: sans-serif;
    font-size: 20px;
  }

  .image-container {
    position: relative;
    z-index: -1;
    bottom: 1000px;
    left: 1200px;
    align-items: right;
    max-width: 100%;
    height: auto;
  }

  .hero-banner{
    position: relative;
    align-items: right;
    z-index: 1;
    width: 30%;
    left: 1200px;
    bottom: 300px;
  }


  nav li {
    display: inline-block; 
  }

  nav a {
    text-decoration: none;
    color: black; 
    font-family: sans-serif;
    color: rgb(22, 32, 90);
    font-size: 15px;
    font-weight: 700;
  }

.about{
  color: #fff;
  position: relative;
  background: url(slike/about-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  text-align: center;
}

.kartica-naslov{
  color: black;
  font-weight: bold;
  font-size: 0.8cm;
}
.kartica-text{
  color: rgb(65, 65, 65);
  font-weight: bolder;
  font-size: 0.4cm;
}

.naslov{
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
}

.text {
  font-size: 18px;
  text-align: center;
}
.kartica{
  display: inline-table;
  margin: 10px;
  background: var(--white);
  padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.kartica-ikona{
  color: var(--bittersweet);
  font-size: 45px;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 15px;
}
.about-footer{
  display: inline-table;
  padding: 20px;
}

.footer-banner img{
  margin-top: 20px;
  float: left;
}

.footnaslov{
  font-size: 0.7cm;
  font-weight: bolder;
  margin-top: 7rem;
}

.foottext{
  font-size: 0.5cm;
  font-weight: bold;
}

